<div class="owl-carousel buttons-autohide controlls-over nomargin owl-theme owl-carousel-init"
     data-plugin-options="{&quot;items&quot;: 1, &quot;autoHeight&quot;: false, &quot;navigation&quot;: true, &quot;pagination&quot;: false, &quot;transitionStyle&quot;:&quot;fade&quot;, &quot;progressBar&quot;:&quot;true&quot;}"
     style="opacity: 1; display: block;">
    <div id="progressBar">
        <div id="bar" style="width: 64.1429%;"></div>
    </div>

    <div class="owl-wrapper-outer">
        <div class="owl-wrapper"
             style="width: 3760px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px); transform-origin: 470px center 0px; perspective-origin: 470px center;">
            <div class="owl-item" style="width: 940px;">
                <div>
                    <img class="img-responsive" src="../../../assets/images/demo/shop/banners/home_slider_2.jpg"
                         alt="">
                </div>
            </div>
            <div class="owl-item" style="width: 940px;"><a href="#">
                <img class="img-responsive" src="../../../assets/images/demo/shop/banners/home_slider_1.jpg" alt="">
            </a></div>
        </div>
    </div>

    <div class="owl-controls clickable">
        <div class="owl-buttons">
            <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
            <div class="owl-next"><i class="fa fa-angle-right"></i></div>
        </div>
    </div>
</div>