<!--
				PAGE HEADER

				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
<section class="page-header page-header-xs" style="margin-bottom: 10px !important;">
    <div class="container">
        <h1 *ngIf="!showcase_artikelKurztextValues || !showcase_artikelKurztextValues[0]">Kein showcase_artikelkurztext - showvalue definiert!</h1>
        <h1 *ngIf="showcase_artikelKurztextValues && showcase_artikelKurztextValues[0]">{{showcase_artikelKurztextValues[0].value['value']}}</h1>

    </div>
</section>
<!-- /PAGE HEADER -->