<div class="owl-carousel buttons-autohide controlls-over margin-bottom-60 text-center owl-theme owl-carousel-init"
     data-plugin-options="{&quot;singleItem&quot;: true, &quot;autoPlay&quot;: 4000, &quot;navigation&quot;: true, &quot;pagination&quot;: false, &quot;transitionStyle&quot;:&quot;goDown&quot;}"
     style="opacity: 1; display: block;">
    <div class="owl-wrapper-outer">
        <div class="owl-wrapper"
             style="width: 852px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(-213px, 0px, 0px); transform-origin: 319.5px center 0px; perspective-origin: 319.5px center;">
            <div class="owl-item" style="width: 213px;"><a href="#">
                <img class="img-responsive" src="../../../assets/images/demo/shop/banners/off_1.png"
                     width="270" height="350" alt="">
            </a></div>
            <div class="owl-item" style="width: 213px;"><a href="#">
                <img class="img-responsive" src="../../../assets/images/demo/shop/banners/off_2.png"
                     width="270" height="350" alt="">
            </a></div>
        </div>
    </div>

    <div class="owl-controls clickable">
        <div class="owl-buttons">
            <div class="owl-prev"><i class="fa fa-angle-left"></i></div>
            <div class="owl-next"><i class="fa fa-angle-right"></i></div>
        </div>
    </div>
</div>