<figure>
    <!--
        zoom buttton

        positions available:
            .bottom-right
            .bottom-left
            .top-right
            .top-left
    -->

    <!--
        image

        Extra: add .image-bw class to force black and white!
    -->
    <img class="hover-shadow img-responsive"
         *ngIf="pictureUrls && activePictureUrl != './../assets/images/noimage_595.png'"
         [src]="activePictureUrl + '&width=1200&height=1500'" (click)="openModal(activePictureUrl)" width="1200"
         height="1500" [alt]="'Picturetitle:' + activePictureUrl" style="display: inline-block;">                       <!-- Wird angezeigt, wenn Bilder-Urls da sind. Wenn geklickt, dann öffnet sich das Modal-->
    <img class="hover-shadow img-responsive"
         *ngIf="pictureUrls && activePictureUrl == './../assets/images/noimage_595.png'" [src]="activePictureUrl"
         (click)="openModal(activePictureUrl)" width="1200"
         height="1500" [alt]="'Picturetitle:' + activePictureUrl" style="display: inline-block;">                        <!-- Wird angezeigt, wenn keine Bilder-Urls da sind. -->

    <div class="row myRow1">
        <div *ngFor="let item of pictureUrls" class="column">                                                           <!-- Zum großschalten der kleinen Preview-Bilder -->
            <img *ngIf="item != './../assets/images/noimage_595.png'" ngClass="custom-thumbnails"
                 [src]="item + '&width=300&height=50'" (click)="setActivePicture(item)"
                 class="hover-shadow img-responsive">
            <img *ngIf="item == './../assets/images/noimage_595.png'" ngClass="custom-thumbnails" [src]="item"
                 (click)="setActivePicture(item)" class="hover-shadow img-responsive">

        </div>
    </div>
    <span *ngIf="showModal == true" class="close cursor" (click)="closeModal()">&times;</span>                              <!-- Wenn Modal angezeigt wird dann wird das X oben rechts abgezeigt. -->
                                                                                                                            <!-- X klicken um das Modal zu schließen. -->

    <Modal-component *ngIf="showModal == true" [pictureUrls]="pictureUrls" [withActivatedPictureUrl]="activePictureUrl">  <!-- Modal Komponente wird geladen, wenn man auf das große Bild klickt. -->
    </Modal-component>


</figure>