
<!-- buttons -->
<div class="pull-right">
    <!-- replace data-item-id width the real item ID - used by js/view/demo.shop.js -->
    <a class="btn btn-default add-wishlist" href="#" data-item-id="1" data-toggle="tooltip" title="" data-original-title="Add To Wishlist"><i class="fa fa-heart nopadding"></i></a>
    <a class="btn btn-default add-compare" href="#" data-item-id="1" data-toggle="tooltip" title="" data-original-title="Add To Compare"><i class="fa fa-bar-chart-o nopadding" data-toggle="tooltip"></i></a>
</div>
<!-- /buttons -->

<!-- price -->
<div *ngIf="!showcase_artikelListenpreisValues || !showcase_artikelListenpreisValues[0]" class="shop-item-price clearfix">
    Kein showcase_artikellistenpreis - showvalue definiert!
</div>
<div *ngIf="showcase_artikelListenpreisValues && showcase_artikelListenpreisValues[0]" class="shop-item-price">
    <span *ngIf="showcase_artikelAktionsPreisValues && showcase_artikelAktionsPreisValues[0]" class="line-through nopadding-left">{{showcase_artikelAktionsPreisValues[0].value['value']}}€</span>
    {{showcase_artikelListenpreisValues[0].value['value']}}€
</div>
<!-- /price -->

<hr>

<div *ngIf="showcase_artikelKurztextValues && showcase_artikelKurztextValues[0]" class="clearfix">
    <span class="pull-right text-success"><i class="fa fa-check"></i> In Stock</span>
    <!--
    <span class="pull-right text-danger"><i class="glyphicon glyphicon-remove"></i> Out of Stock</span>
    -->

    <strong>Id:</strong> {{product.id}}
</div>

<hr>

<!-- short description -->
<p *ngIf="!showcase_artikelBeschreibungValues || !showcase_artikelBeschreibungValues[0]">Kein showcase_artikelbeschreibung - showvalue definiert!</p>
<p *ngIf="showcase_artikelBeschreibungValues && showcase_artikelBeschreibungValues[0]" [innerHtml]="showcase_artikelBeschreibungValues[0].value['value']"></p>
<!-- /short description -->


<!-- countdown -->
<!--<div class="text-center">
    <h5>Limited Offer</h5>
    <div class="countdown is-countdown" data-from="January 31, 2018 15:03:26" data-labels="years,months,weeks,days,hour,min,sec"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">343</span><span class="countdown-period">days</span></span><span class="countdown-section"><span class="countdown-amount">0</span><span class="countdown-period">hour</span></span><span class="countdown-section"><span class="countdown-amount">45</span><span class="countdown-period">min</span></span><span class="countdown-section"><span class="countdown-amount">13</span><span class="countdown-period">sec</span></span></span></div>
</div>-->
<!-- /countdown -->


<hr>

<!-- FORM -->
<!--<form class="clearfix form-inline nomargin" method="get" action="shop-cart.html">
    <input type="hidden" name="product_id" value="1">

    &lt;!&ndash; see assets/js/view/demo.shop.js &ndash;&gt;
    <input type="hidden" id="color" name="color" value="yellow">
    <input type="hidden" id="qty" name="qty" value="1">
    <input type="hidden" id="size" name="size" value="5">
    &lt;!&ndash; see assets/js/view/demo.shop.js &ndash;&gt;

    <div class="btn-group pull-left product-opt-color">
        <button type="button" class="btn btn-default dropdown-toggle product-color-dd noradius" data-toggle="dropdown">&nbsp;
            <span class="caret"></span>
            <span id="product-selected-color" class="tag shop-color" style="background-color:#F0E68C"></span>
        </button>

        &lt;!&ndash;
            href = required to be hex color starting with: #
            data-val = color name or color id from the database
        &ndash;&gt;
        <ul id="product-color-dd" class="dropdown-menu clearfix" role="menu">
            <li class="active"><a class="tag shop-color" data-val="purple" href="#800080" style="background-color:#800080"></a></li>
            <li><a class="tag shop-color" data-val="red" href="#FF0000" style="background-color:#FF0000"></a></li>
            <li><a class="tag shop-color" data-val="pink" href="#FF0080" style="background-color:#FF0080"></a></li>
            <li><a class="tag shop-color" data-val="orange" href="#FF6600" style="background-color:#FF6600"></a></li>
            <li><a class="tag shop-color" data-val="grey" href="#E0DCC8" style="background-color:#E0DCC8"></a></li>
            <li><a class="tag shop-color" data-val="yellow" href="#F0E68C" style="background-color:#F0E68C"></a></li>
            <li><a class="tag shop-color" data-val="light-yellow" href="#FFFFD0" style="background-color:#FFFFD0"></a></li>
            <li><a class="tag shop-color" style="background-color:#4B0082"></a></li>
            <li><a class="tag shop-color" data-val="dark-grey" href="#666666" style="background-color:#666666"></a></li>
            <li><a class="tag shop-color" data-val="green" href="#00FF00" style="background-color:#00FF00"></a></li>
        </ul>
    </div>&lt;!&ndash; /btn-group &ndash;&gt;

    <div class="btn-group pull-left product-opt-size">
        <button type="button" class="btn btn-default dropdown-toggle product-size-dd noradius" data-toggle="dropdown">
            <span class="caret"></span>
            Size <small id="product-selected-size">(<span>5</span>)</small>
        </button>

        &lt;!&ndash; data-val = size value or size id &ndash;&gt;
        <ul id="product-size-dd" class="dropdown-menu" role="menu">
            <li class="active"><a data-val="5" href="#">5</a></li>
            <li><a data-val="5.5" href="#">5.5</a></li>
            <li><a data-val="6" href="#">6</a></li>
            <li><a data-val="6.5" href="#">6.5</a></li>
            <li><a data-val="7" href="#">7</a></li>
            <li><a data-val="7.5" href="#">7.7</a></li>
            <li><a data-val="8" href="#">8</a></li>
            <li><a data-val="8.5" href="#">8.5</a></li>
            <li><a data-val="9" href="#">9</a></li>
            <li><a data-val="9.5" href="#">9.5</a></li>
            <li><a data-val="10" href="#">10</a></li>
            <li><a data-val="10.5" href="#">10.5</a></li>
            <li><a data-val="11" href="#">11</a></li>
            <li><a data-val="11.5" href="#">11.5</a></li>
            <li><a data-val="12" href="#">12</a></li>
            <li><a data-val="13" href="#">13</a></li>
            <li><a data-val="14" href="#">14</a></li>
        </ul>
    </div>&lt;!&ndash; /btn-group &ndash;&gt;

    <div class="btn-group pull-left product-opt-qty">
        <button type="button" class="btn btn-default dropdown-toggle product-qty-dd noradius" data-toggle="dropdown">
            <span class="caret"></span>
            Qty <small id="product-selected-qty">(<span>5</span>)</small>
        </button>

        <ul id="product-qty-dd" class="dropdown-menu clearfix" role="menu">
            <li class="active"><a data-val="1" href="#">1</a></li>
            <li><a data-val="2" href="#">2</a></li>
            <li><a data-val="3" href="#">3</a></li>
            <li><a data-val="4" href="#">4</a></li>
            <li><a data-val="5" href="#">5</a></li>
            <li><a data-val="6" href="#">6</a></li>
            <li><a data-val="7" href="#">7</a></li>
            <li><a data-val="8" href="#">8</a></li>
            <li><a data-val="9" href="#">9</a></li>
            <li><a data-val="10" href="#">10</a></li>
        </ul>
    </div>&lt;!&ndash; /btn-group &ndash;&gt;

    <button class="btn btn-primary pull-left product-add-cart noradius">ADD TO CART</button>

</form>-->
<!-- /FORM -->


<hr>

<small class="text-muted">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla,
    commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim
    massa, sodales tempor convallis et.
</small>

<hr>

<!-- Share -->
<div class="pull-right">

    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
        <i class="icon-facebook"></i>
        <i class="icon-facebook"></i>
    </a>

    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
        <i class="icon-twitter"></i>
        <i class="icon-twitter"></i>
    </a>

    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google plus">
        <i class="icon-gplus"></i>
        <i class="icon-gplus"></i>
    </a>

    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
        <i class="icon-linkedin"></i>
        <i class="icon-linkedin"></i>
    </a>

</div>
<!-- /Share -->


<!-- rating -->
<div class="rating rating-4 size-13 margin-top-10 width-100"><!-- rating-0 ... rating-5 --></div>
<!-- /rating -->
