


<!-- price -->
<div *ngIf="!showcase_artikelListenpreisValues || !showcase_artikelListenpreisValues[0]" class="shop-item-price clearfix">      <!-- Wenn keine Artikellistenpreis geladen wurde -->
    Kein showcase_artikellistenpreis - showvalue definiert!
</div>
<div *ngIf="showcase_artikelListenpreisValues && showcase_artikelListenpreisValues[0]" class="shop-item-price">         <!-- Wenn Artikellistenpreis geladen wurde -->
    <span *ngIf="showcase_artikelAktionsPreisValues && showcase_artikelAktionsPreisValues[0]" class="line-through nopadding-left">{{showcase_artikelAktionsPreisValues[0].value['value']}}€</span>
    {{showcase_artikelListenpreisValues[0].value['value'] + " " + showcase_artikelListenpreisValues[0].value['unit']}}
</div>
<!-- /price -->

<hr>

<div *ngIf="showcase_artikelKurztextValues && showcase_artikelKurztextValues[0]" class="clearfix">  <!-- Wenn Artikelkurztext geladen wurde. -->
    <span class="pull-right text-success"><i class="fa fa-check"></i> In Stock</span>

    <strong>Id:</strong> {{product.id}}    <!-- Anezeige ID des Produktes -->
</div>

<hr>

<!-- short description -->
<p *ngIf="!showcase_artikelBeschreibungValues || !showcase_artikelBeschreibungValues[0]">Kein showcase_artikelbeschreibung - showvalue definiert!</p>   <!-- Wenn keine Artikelbeschreibung geladen wurde -->

<!-- Wenn Artikelbeschreibung geladen wurde. Hier als innerHtml, weil es HTML-Tags in der Beschreibung gibt. Z.B.: <bold></bold>. -->
<p *ngIf="showcase_artikelBeschreibungValues && showcase_artikelBeschreibungValues[0]" [innerHtml]="showcase_artikelBeschreibungValues[0].value['value']"></p>
<!-- /short description -->

<hr>


<!-- TODO : Showvalue definieren, Text laden und einfügen. -->
<small class="text-muted">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla,
    commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim
    massa, sodales tempor convallis et.
</small>

<hr>

<!-- Share TODO : Socialmedia Links-->
<div class="pull-right">

    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
        <i class="icon-facebook"></i>
        <i class="icon-facebook"></i>
    </a>

    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
        <i class="icon-twitter"></i>
        <i class="icon-twitter"></i>
    </a>

    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google plus">
        <i class="icon-gplus"></i>
        <i class="icon-gplus"></i>
    </a>

    <a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
        <i class="icon-linkedin"></i>
        <i class="icon-linkedin"></i>
    </a>

</div>
<!-- /Share -->


<!-- rating -->
<div class="rating rating-4 size-13 margin-top-10 width-100"><!-- rating-0 ... rating-5 --></div>
<!-- /rating -->
