<!-- wrapper fuer die App. Vom Template übernommen. -->
<div id="wrapper">

    <!-- Header -->
    <header-component></header-component>
    <!-- /Header -->

    <!-- FEATURED -->
    <section class="nopadding-bottom  padding-top-150">
        <!-- Container der mindestens 800px hoch ist. -->
        <div class="container" style="min-height: 800px">
            <!-- Bootstrap grid row -->
            <div class="row">
                <!-- Bootstrap grid column -->
                <div class="col-sm-9 col-sm-push-3">
                    <router-outlet></router-outlet>
                    <!-- Hier werden die verschiedenen Komponenten, bei Änderung der URL, geladen -->
                </div>

                <!-- Bootstrap grid column -->
                <div class="col-sm-3 col-sm-pull-9">

                    <!-- CATEGORIES -->
                    <categories-left-nav></categories-left-nav>
                    <!-- /CATEGORIES -->

                    <!-- BRANDS -->
                    <brands-nav></brands-nav>
                    <!-- BRANDS -->

                </div>
            </div>
        </div>
    </section>
    <!-- /FEATURED -->

    <!-- FOOTER -->
    <footer-panel></footer-panel>
    <!-- /FOOTER -->

    <popup-newsletter></popup-newsletter>

</div>
<!-- /wrapper -->