<div class="side-nav margin-bottom-60">

    <div class="side-nav-head">
        <button class="fa fa-bars"></button>
        <h4>Hersteller</h4>
    </div>

    <ul class="list-group list-unstyled">
        <li class="list-group-item"><a href="#"><span
                class="size-11 text-muted pull-right">(21)</span> Armani</a></li>
        <li class="list-group-item"><a href="#"><span
                class="size-11 text-muted pull-right">(44)</span> Nike</a></li>
        <li class="list-group-item"><a href="#"><span
                class="size-11 text-muted pull-right">(2)</span> Jolidon</a></li>
        <li class="list-group-item"><a href="#"><span
                class="size-11 text-muted pull-right">(18)</span> Ralph Lauren</a></li>
        <li class="list-group-item"><a href="#"><span
                class="size-11 text-muted pull-right">(87)</span> Lotto</a></li>
        <li class="list-group-item"><a href="#"><span
                class="size-11 text-muted pull-right">(32)</span> Fila</a></li>
        <li class="list-group-item"><a href="#"><span
                class="size-11 text-muted pull-right">(69)</span> Boss</a></li>
    </ul>

</div>