<!--
                controlls-over		= navigation buttons over the image
                buttons-autohide 	= navigation buttons visible on mouse hover only

                data-plugin-options:
                    "singleItem": true
                    "autoPlay": true (or ms. eg: 4000)
                    "navigation": true
                    "pagination": true
            -->
<div class="text-center">
    <div class="owl-carousel nomargin owl-theme owl-carousel-init"
         data-plugin-options="{&quot;singleItem&quot;: false, &quot;autoPlay&quot;: 3000}"
         style="opacity: 1; display: block;">
        <div class="owl-wrapper-outer">
            <div class="owl-wrapper"
                 style="width: 3760px; left: 0px; display: block; transition: all 800ms ease; transform: translate3d(-235px, 0px, 0px);">
                <div class="owl-item" style="width: 235px;">
                    <div>
                        <img class="img-responsive" src="assets/images/demo/brands/1.jpg" alt="">
                    </div>
                </div>
                <div class="owl-item" style="width: 235px;">
                    <div>
                        <img class="img-responsive" src="assets/images/demo/brands/2.jpg" alt="">
                    </div>
                </div>
                <div class="owl-item" style="width: 235px;">
                    <div>
                        <img class="img-responsive" src="assets/images/demo/brands/3.jpg" alt="">
                    </div>
                </div>
                <div class="owl-item" style="width: 235px;">
                    <div>
                        <img class="img-responsive" src="assets/images/demo/brands/4.jpg" alt="">
                    </div>
                </div>
                <div class="owl-item" style="width: 235px;">
                    <div>
                        <img class="img-responsive" src="assets/images/demo/brands/5.jpg" alt="">
                    </div>
                </div>
                <div class="owl-item" style="width: 235px;">
                    <div>
                        <img class="img-responsive" src="assets/images/demo/brands/6.jpg" alt="">
                    </div>
                </div>
                <div class="owl-item" style="width: 235px;">
                    <div>
                        <img class="img-responsive" src="assets/images/demo/brands/7.jpg" alt="">
                    </div>
                </div>
                <div class="owl-item" style="width: 235px;">
                    <div>
                        <img class="img-responsive" src="assets/images/demo/brands/8.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>


        <div class="owl-controls clickable">
            <div class="owl-pagination">
                <div class="owl-page active"><span class=""></span></div>
                <div class="owl-page"><span class=""></span></div>
            </div>
        </div>
    </div>
</div>