<div class="info-bar info-bar-clean info-bar-bordered nomargin-bottom">
    <div class="container">

        <div class="row">

            <div class="col-sm-4">
                <i class="glyphicon glyphicon-globe"></i>
                <h3>FREE SHIPPING &amp; RETURN</h3>
                <p>Lorem ipsum dolor sit amet</p>
            </div>

            <div class="col-sm-4">
                <i class="glyphicon glyphicon-usd"></i>
                <h3>MONEY BACK GUARANTEE</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="col-sm-4">
                <i class="glyphicon glyphicon-flag"></i>
                <h3>ONLINE SUPPORT 24/7</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>

        </div>

    </div>
</div>